---
id: {{id}}
title: {{title}}
---

### *{{type}}*

{{#if extends}}
*Extends {{extends}}*
{{/if}}

{{{description}}}

{{#if sample}}
```javascript
{{{sample}}}
```
{{/if}}

{{#if constructor.signature}}
[new {{name}}({{constructor.signature}})](#constructor)

{{> arguments arguments=constructor.arguments}}
{{/if}}

--------------------------------------------------

{{#each properties}}
{{#if function}}
  - [{{name}}({{signature}})](#{{hash}})
{{else}}
  - [{{name}} *{{type}}*](#{{hash}})
{{/if}}
{{/each}}
{{#if properties}}
{{#if methods}}

{{/if}}
{{/if}}
{{#each methods}}
  - [{{#if static}}{{../name}}.{{/if}}{{name}}({{signature}})](#{{hash}})
{{/each}}

{{#if properties}}
Properties
----------

{{#each properties}}
{{#if function}}
### {{name}}({{signature}})

{{#if returns}}Returns *{{returns}}*{{/if}}

{{{description}}}

{{#if sample}}
```javascript
{{{sample}}}
```
{{/if}}

{{> arguments}}

{{else}}
### {{name}}

{{#if hasDefault}}<span class="default">Default {{default}}</span>{{/if}}

{{{description}}}
{{/if}}
{{/each}}
{{/if}}

{{#if methods}}
Methods
-------

{{#each methods}}
### {{#if static}}{{../name}}.{{/if}}{{name}}({{signature}})

{{#if returns}}Returns *{{returns}}*{{/if}}

{{{description}}}

{{> arguments}}

{{/each}}
{{/if}}
